body {
	text-align: center;
	background: whitesmoke;
}
div {
	padding: 10px;
	margin-top: 2px;
}
img {
	border: 1px solid;
	padding: 5px;
	height: 200px;
	width: 200px;
}
h1 {
	display: inherit;
}

#map {
	height: 400px;
	width: 100%;
}